{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}Home{% endblock %}
{% block body %}

<section class="about">
  <div class="container about__container--narrow">
    <div class="page-section">
      <h2 class="page-section__title">ABOUT ME</h2>
        <img class="page-section__title-style" src="{% static 'portfolio/img/title-style.png' %}" alt="">
        <p class="page-section__paragraph">From Lines of Code to Problem Solver: About Me. </p>
        <div class="row gutters-80">
          <div class="col-md-4">
            <div class="about__image">
              <img src="{% static 'portfolio/img/Ben-David.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-8 about__content">
            <p class="about__description">I am a software engineer, who play a crucial role in the world of technology and software development. My primary responsibility involves designing, developing, and maintaining software applications and systems. 
              My work is characterized by problem-solving, analytical thinking, and the ability to translate user requirements into functional software solutions. I have specialized in particular areas of software development, such as front-end, 
              back-end development, web development, automation, etc. I have expertise in Python programming languages and technologies is an asset in creating software that meets various needs. 
            <div class="row row--margin-top">
              <div class="col-md-4">
                <p class="about__bio"><strong>NAME :</strong> BEN-DAVID C. SAMUEL</p>
                <p class="about__bio"><strong>AGE :</strong> 23</p>
              </div>
              <div class="col-md-6">
                <p class="about__bio"><strong>JOB TITLE :</strong> SOFTWARE DEVELOPER</p>
                <p class="about__bio"><strong>LOCATION :</strong> ENUGU,NIGERIA</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <a class="button button--colorful button--margin" href="{% static 'portfolio/img/Ben-David\'s Resume.pdf' %}">GET RESUME</a>
              </div>
              <div class="col-md-4">
                <a class="button button--colorful button--margin" href="{% url 'portfolio:contact' %}">HIRE ME</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="skill skill--bg">
  <div class="container skill__container--narrow">
    <div class="page-section">
      <h2 class="page-section__title page-section__title--white">MY SKILL</h2>
      <img class="page-section__title-style" src="{% static 'portfolio/img/title-style-white.png' %}" alt="">
      <p class="page-section__paragraph page-section__paragraph--white">Technical Proficiencies. </p>
      <div class="row gutters-60">
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _python original_.png' %}" alt="">
            <h4 class="skill__single-part__title">PYTHON</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7FB7FA;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _javascript_.png' %}" alt="">
            <h4 class="skill__single-part__title">JAVASCRIPT</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:70%;background-color: #F7DF1E;;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _Django_.png' %}" alt="">
            <h4 class="skill__single-part__title">DJANGO</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #2BA977;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gutters-60">
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _node js_.png' %}" alt="">
            <h4 class="skill__single-part__title">NODE.JS</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:70%;background-color: #3E863D;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _Flask_.png' %}" alt="">
            <h4 class="skill__single-part__title">FLASK</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #000000;;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _SQL Database (Generic)_.png' %}" alt="">
            <h4 class="skill__single-part__title">SQL</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #00BCF2;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gutters-60">
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _API_.png' %}" alt="">
            <h4 class="skill__single-part__title">API</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #000000;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _file type html_.png' %}" alt="">
            <h4 class="skill__single-part__title">HTML</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:70%;background-color: #E44F26;;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _file type css_.png' %}" alt="">
            <h4 class="skill__single-part__title">CSS</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:60%;background-color: #1572B6;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gutters-60">
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _bootstrap plain_.png' %}" alt="">
            <h4 class="skill__single-part__title">BOOTSTRAP</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:60%;background-color: #5B4282;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _figma_.png' %}" alt="">
            <h4 class="skill__single-part__title">UI/UX</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:70%;background-color: #FFAC1B;;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <img src="{% static 'portfolio/img/icon _github_.png' %}" alt="">
            <h4 class="skill__single-part__title">GITHUB</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:80%;background-color: #231F20;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">MY SERVICES</h2>
        <img class="page-section__title-style" src="{% static 'portfolio/img/title-style.png' %}" alt="">
        <p class="page-section__paragraph">Code, Tech Solutions and Development Services. </p>
        <div class="row gutters-70">
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static 'portfolio/img/logo-design.png' %}" alt="">
              <h4 class="service__single-section__title">SOFTWARE DEVELOPER</h4>
              <p class="service__single-section__paragraph">As a software developer, I specialize in creating robust and scalable software solutions that cater to the specific needs of businesses and individuals. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static 'portfolio/img/website-design.png' %}" alt="">
              <h4 class="service__single-section__title">WEB DEVELOPER</h4>
              <p class="service__single-section__paragraph">I specialize in designing and developing modern, user-friendly websites that cater to the specific needs and objectives of businesses and individuals. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img src="{% static 'portfolio/img/support.png' %}" alt="">
              <h4 class="service__single-section__title">SUPPORT</h4>
              <p class="service__single-section__paragraph">I offer comprehensive support services to ensure the smooth operation, maintenance, and enhancement of your software applications and systems. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 

<section class="portfolio slider--bg">
  <div class="container">
    <div class="page-section">
      <h2 class="page-section__title page-section__title--white">MY PORTFOLIO</h2>
      <img class="page-section__title-style" src="{% static 'portfolio/img/title-style-white.png' %}" alt="">
      <p class="page-section__paragraph page-section__paragraph--white">Project Gallery. </p>

      <div class="row gutters-40">
        <div class="col-md-4">
          <div class="portfolio__single-section mix category-a category-b category-c" data-order="1">
            <img class="portfolio__single-section__image img-responsive" src="{% static 'portfolio/img/iNterra logo 1.png' %}" alt="">
            <div class="portfolio__single-section__overlay">
              <div class="overlay-content">
                <h4>iNterra Networks LTD</h4>
                <p>Juinor Developer</p>
              </div>
              <div class="portfolio__single-section__search-icon">
                <a href="https://www.interranetworks.ng/" title="iNterra Networks LTD"><img src="{% static 'portfolio/img/search-icon.png' %}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="portfolio__single-section mix category-a category-c" data-order="2">
            <img class="portfolio__single-section__image img-responsive" src="{% static 'portfolio/img/NIGSIMS logo.png' %}" alt="">
            <div class="portfolio__single-section__overlay">
              <div class="overlay-content">
                <h4>NIGSIMS</h4>
                <p>Juinor Developer</p>
              </div>
              <div class="portfolio__single-section__search-icon">
                <a href="https://www.nigsims.com/"><img src="{% static 'portfolio/img/search-icon.png' %}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="portfolio__single-section mix category-c" data-order="3">
            <img class="portfolio__single-section__image img-responsive" src="{% static 'portfolio/img/portfolio-3.png' %}" alt="">
            <div class="portfolio__single-section__overlay">
              <div class="overlay-content">
                <h4>LOGO DESIGN</h4>
                <p>Designer</p>
              </div>
              <div class="portfolio__single-section__search-icon">
                <a href="#"><img src="{% static 'portfolio/img/search-icon.png' %}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="page-section">
      <h2 class="page-section__title">BLOG POST</h2>
      <img class="page-section__title-style" src="{% static 'portfolio/img/title-style.png' %}" alt="">
      <p class="page-section__paragraph">Get the least and trending updata about your favorite thing. </p>
      <div class="row gutters-40">
        {% for post in posts %}
          <div class="col-md-4">
            <div class="thumbnail text-center">
              <img class="img-responsive" src="{% static 'portfolio/img/blog-1.png' %}" alt="">
              <p class="blog__single__date">{{ post.publish|date:"F d, Y" }}</p>
              <i class="material-icons">comment</i> 5
              <a href="#"><h4 class="blog__single__title">{{ post.title }}</h4></a>
              <p class="blog__single__paragraph">{{ post.body|markdown|truncatewords_html:20 }}
                <a href="{{ post.get_absolute_url }}">
                  <span class="blog__single__paragraph--read-more">READ MORE...</span>
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}